CompileFlags:
  Add:
    - --target=xtensa-esp-elf
    - -isystem
    - D:/Espressif-tool/Espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/xtensa-esp-elf/include
    - -isystem
    - D:/Espressif-tool/Espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include
    - -isystem
    - D:/Espressif-tool/Espressif/tools/xtensa-esp-elf/esp-14.2.0_20260121/xtensa-esp-elf/lib/gcc/xtensa-esp-elf/14.2.0/include-fixed
    - -Wno-unknown-warning-option
    - -Wno-unknown-attributes
  Remove:
    - -mlongcalls
    - -mdisable-hardware-atomics
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fmacro-prefix-map=*

Diagnostics:
  Suppress:
    - unused-includes
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
